<%- include('partials/header') -%>

<style>
    #main {
        display: flex;
        height: 80vh;
        justify-content: center;
        align-items: center;
    }

    #container {
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        width: 50%;
        height: 35%; 
        justify-content: center;
        align-items: center;  
        display: flex;
        flex-direction: column;
    }

    input {
        width: 400px;
        height: 30px;
        border-radius: 5px;
    }

    button {
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }


</style>

<div id = "main">
    <div id = "container">
        <label id = "username"><%= username %></label> <br>
        <input type='text' placeholder="new password" id = "new" required><br>
        <input type='text' placeholder="confirm password" id = "confirm" required><br>
        <label id = "error"></label>
        <button onclick="ChangePassword()">Change Password</button>
    </div>
    
</div>


<script>
    async function ChangePassword(){
        let username = document.getElementById("username");
        let newpass = document.getElementById("new");
        let confirmpass = document.getElementById("confirm");
        let error = document.getElementById("error");

        var regex = new RegExp("^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]{8,}$");

        if(newpass.value === confirmpass.value){ 
            console.log(regex.test(newpass.value));  
            if(regex.test(newpass.value)){
                
                const res = await fetch('http://localhost:3000/changepassword',{
                method:'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({  new: newpass.value, username: username.innerHTML }),
                redirect:"follow"
            })
            if(res.redirected){
                window.location.href = res.url
              }
            } else {
                error.innerHTML = " ";
                error.innerHTML = "Minimum eight characters, at least one letter and one number:"
             }  
        } else {
            error.innerHTML = " ";
            error.innerHTML = "password did not match"
        }
    }
</script>