<%- include('partials/header') -%>
<style>
    #main {
        display: flex;
        height: 80vh;
        justify-content: center;
        align-items: center;
    }

    #container {
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        width: 50%;
        height: 30%; 
        justify-content: center;
        align-items: center;  
        display: flex;
        flex-direction: column;
    }
    button {
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input {
        width: 400px;
        height: 30px;
        border-radius: 5px;
    }

</style>

<div id = "main">
    <div id = "container">
        <label id = "errors" > </label><br>
        <label>Verification Mail:</label>
        <input type='text' placeholder="input your verification email*"  id = "email" required><br>
        <button onclick="sendVerificationMail()">Send verification Email</button>
    </div>    
</div>


<script>
    const error = document.getElementById("errors");

    async function sendVerificationMail(){
        const email = document.getElementById("email");
        const res = await fetch("http://localhost:3000/forgotpassword",{
            method: "POST",
            headers:{ 'Content-Type': 'application/json' },
            body: JSON.stringify( { email: email.value } )
        })
        

        const data = await res.json();  
        
        error.innerHTML = data.msg
        email.value = "";
        
    }
    
</script>